/*Navigation Bar*/
header {
	background: #ffffff;
	min-height: 15px;
  	position: relative;
  	overflow: hidden;
  	top: 0;
  	width: 100%; 
  	z-index: 2;
  	text-align: center;
}

.navbar_buttons {
	margin: 10px;
}

.navbar_buttons button {
	padding: 12px;
	background: transparent;
	color: #C78F76;
	font-size: 20px;
	margin: 0px 30px 0px;
}

.navbar_buttons button a {
	background: transparent;
	text-decoration: none;
	color: #C78F76;
}

.navbar_buttons button:hover::before, .navbar_buttons button a:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

.navbar_buttons button::before, .navbar_buttons button a::before {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	background-color: #FF7676;
	height: 2px;
	bottom: 0;
	left: 0;
	transform-origin: right;
	transition: transform 0.4s ease-out;
}

.navbar_buttons img {
	height: 50px;
	float: left;
}

.profile {
	height: 50px;
	float: right;
	cursor: pointer;
	border-radius: 50%;
	transform: scaleX(-1);
	z-index: 3;
}



/*Responsive*/
@media(max-width: 1030px) {
	.navbar_buttons button {
		margin: 0px 10px 0px;
	}
}

@media(max-width: 800px) {
	.navbar_buttons button {
		margin: 0px 0px 0px;
		font-size: 18px;
	}
}

@media(max-width: 700px) {
	.navbar_buttons {
		width: 100%;
		margin: 0px 0px 10px;
	}

	.profile {
		height: 40px;
		float: none;
		text-align: center;
		width: 100%;
		display: block;
	}

	.navbar_buttons img {
		float: none;
		text-align: center;
		display: inline;
	}

	.logo {
		margin-top: 10px;
	}
}