/*Home Page*/
#home {
	min-height: 100vh;
	text-align: center;
}

#home h1 {
	color: #FFBDBD;
	letter-spacing: 5px;
	animation: fadeBrand 2s;
	font-size: 50px;
	top: 250px;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

@keyframes fadeBrand {
	from { opacity: 0; }
	to { opacity: 1; }
}

#home button {
	background: #ffffff;
	color: #FF7676;
	padding: 10px;
	border-radius: 5px;
	transition: 0.5s;
	font-weight: normal;
	font-size: 25px;
	border: 1px solid #C79874;
	margin: 0px;
	display: block;
	width: 200px;
	top: 400px;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

#home button:hover {
	background: #C78F76;
	color: #ffffff;
}

.downArrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    height: 30px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
    overflow: hidden;
}

/*Background Slider*/
#slider {
	overflow: hidden;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 25s slider infinite;
}

@keyframes slider {
	0% { left: 0; }
	20% { left: 0; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

#slider figure img {
	width: 20%;
	float: left;
	height: 100vh;
	margin: 0;
	padding: 0;
	object-fit: cover;
}

/*About*/
#about {
	background: linear-gradient(#FFE6E6, #F08080);
	min-height: 1400px;
	text-align: center;
}

#letter {
	border-radius: 10px;
	padding: 30px;
	display: fixed;
	margin: 100px 60px 0px;
	background: #ffffff;
	line-height: 40px;
}

#letter h6, #siteInfo h6 {
	margin: 0px;
	color: #C49076;
	font-family: 'Playball', serif;
	font-style: oblique;
	font-size: 50px;
}

#letter p, #siteInfo p {
	color: #FF7676;
	font-size: 20px;
	margin: 40px;
}

#siteInfo {
	display: fixed;
	border-radius: 10px;
	margin-top: 50px;
	background: #ffffff;
	padding: 30px;
	margin: 60px 60px 60px;
	line-height: 20px;
}

#siteInfo p a {
	color: #C49076;
}

#siteInfo p a:hover {
	font-weight: bold;
	color: #D7B2B1;
}



/*Responsive*/
@media(max-width: 768px) {
	#letter {
		padding: 20px 0px 10px;
		margin: 100px 10px 0px;
	}

	#siteInfo {
		margin: 100px 10px 60px;
		padding: 20px 0px 10px;
	}

	#letter p, #siteInfo p {
		font-size: 17px;
	}

	#letter h6, #siteInfo h6 {
		font-size: 40px;
	}
}