/*Products*/
#products {
	background: #FFE6E6;
	min-height: 100vh;
	text-align: center;
}

#products h1 {
	font-size: 40px;
	top: 3%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}



/*Product Slider*/
#product_slider {
	background-color: #C49076;
	min-height: 80%;
	width: 80%;
	border-radius: 10px;
	text-align: center;
	display: flex;
	box-sizing: border-box;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	align-content: center;
}

.slide {
	min-width: 100%;
	height: 80vh;
	transition: 0.5s
}

#goLeft {
	position: absolute;
	top: 50%;
	left: 2%;
	transform: translateY(-50%);
}

#goRight {
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
}

#products button {
	background-color: transparent;
}

#product_slider button {
	background: transparent;
}

.arrow {
  border: solid #FFE6E6;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}



/*Slider Products*/
#product_description {
	color: #ffffff;
	font-size: 20px;
	float: left;
	margin-left: 8%;
	margin-top: 11%;
}

#productImage img {
	float: right;
	width: 45%;
	height: auto;
	margin-top: 8%;
	margin-right: 9%;
}

#product_description button {
	border: 3px solid lightgrey;
	color: #ffffff;
}

#product_description button:hover {
	background-color: #FF7979;
}



@media(max-width: 768px) {
	#product_slider {
		max-height: 60vh;
		width: 95%;
	}
	.slide {
		margin-top: 27%;
	}
}