/*Animations*/
@keyframes bouncing {
    	0% { bottom: 0; }
    	50% { bottom: 15px; }
    	100% { bottom: 0; }
}

.fade-in {
	animation: fadeIn 3s;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}



/*Background Slider*/
#slider {
	overflow: hidden;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}

#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% { left: 0; }
	20% { left: 0; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}



/*Scrollbar*/
html::-webkit-scrollbar {
    	width: 8px;
}

html::-webkit-scrollbar-thumb {
    	background: linear-gradient(#FF7C7C, #FF9494);
    	border-radius: 6px;
}