/*Account*/ 
#profile, #status {
	background: #FFE6E6;
	min-height: 100vh;
	text-align: center;
}

#profile p {
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 100px;
}

#login {
	float: left;
	background: #C49076;
	width: 35%;
	min-height: 80%;
	border-radius: 10px;
	text-align: center;
	top: 10%;
	left: 10%;
	position: absolute;
	display: block;
}

#register {
	float: right;
	background: #C49076;
	width: 35%;
	min-height: 80%;
	border-radius: 10px;
	text-align: center;
	top: 10%;
	right: 10%;
	position: absolute;
	display: block;
}

#login form button, #register form button {
	display: inline-block;
	margin-top: 10px;
}

#login form input, #register form input {
	background: #ffffff;
	padding: 0 20px 0 5px;
	display: inline-block;
	min-height: 30px;
	font-size: 15px;
	outline-style: none;
	border: none;
    width: 200px;
    text-align: center;
    margin: 10px;
}



/*Cart*/
#status h1 {
	font-size: 40px;
	top: 3%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

