/*Viewing Table*/
#viewing {
	background: #FFE6E6;
	min-height: 100vh;
	text-align: center;
}

.containerViewing {
    width: 100%;
    min-height: 100%;
    margin: auto;
    overflow: hidden;
}

/*Admin Header*/
#adminHeader {
    padding-top: 30px;
}

#adminHeader h1 {
    margin: 0px 0px 30px;
    top: 250px;
    color: #C78F76;
    font-family: serif;
    font-style: oblique;
    font-size: 50px;
}

/*Logout Button*/
#logoutBtn {
    background: #ffffff;
    color: #FF7676;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: normal;
    font-size: 20px;
    border: 1px solid #C79874;
    margin: 0px 20px 100px;
}

#logoutBtn:hover {
    background: #C78F76;
    color: #ffffff;
}

/*Controls*/
.toggle {
    margin-top: 50px;
}

.toggle p {
    color: #C79874;
    font-size: 20px;
}

.maxDel input, .discount input, .discountPercent input, .discountPrice input, .discountDelivery input {
    padding: 10px;
    font-size: 18px;
    color: #707070;
    border-radius: 5px;
    border: 1px solid #CECECE;
    outline-style: none;
    text-align: center;
    margin: 20px 20px 10px;
    display: inline-block;
}

.toggle button, .maxDel button, .discountPercent button, .discountPrice button, .discountDelivery button {
    background: #ffffff;
    color: #FF7676;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: normal;
    font-size: 20px;
    border: 1px solid #C79874;
    margin: 0px 20px 10px;
}

.toggle button:hover, .maxDel button:hover, .discountPercent button:hover, .discountPrice button:hover, .discountDelivery button:hover {
    background: #C78F76;
    color: #ffffff;
}

.discountPercent {
    padding: 30px 50px 50px;
    background: #FFC795;
    text-align: center;
}

.discountPrice {
    background: #FFA172;
    text-align: center;
    padding: 30px 50px 50px;
}

.discountDelivery {
    background: #FF9762;
    text-align: center;
    padding: 30px 50px 50px;
}

#discountHeader h1 {
    margin: 30px 0px 30px;
    color: #ffffff;
    font-family: serif;
    font-style: oblique;
    font-size: 30px;
}

/*Table Filters*/
.filter {
    margin-bottom: 0px;
    margin-top: 50px;
}

.filter select, .filter #filterPicker, .filter input {
    padding: 10px;
    font-size: 18px;
    color: #707070;
    border-radius: 5px;
    border: 1px solid #CECECE;
    outline-style: none;
    text-align: center;
    margin: 20px 20px 10px;
    display: inline-block;
}

#searchOrder {
    background: #ffffff;
    color: #FF7676;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: normal;
    font-size: 20px;
    border: 1px solid #C79874;
    margin: 0px 20px 10px;
}

#searchOrder:hover {
    background: #C78F76;
    color: #ffffff;
}

/*Admin Data Table*/
.viewingTable {
    border-collapse: collapse;
    margin: 10px auto 100px;
    width: 95%;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.viewingTable thead tr {
    background-color: #C79874;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.viewingTable th, .viewingTable td {
    padding: 15px;
}

.viewingTable tbody tr {
    border-bottom: 1px solid #F08080;
    font-size: 18px;
    background: #FFF2F2;
    color: #E2A661;
}

.viewingTable tbody tr:nth-of-type(even) {
    background-color: #FFDFB9;
    color: #C79874;
}

.viewingTable tr td button {
    background: #D5A249;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: normal;
    font-size: 15px;
    display: inline-block;
    margin: 0px 10px 10px;
    width: 200px;
}

.viewingTable tr td button:hover {
    background: #B2773C
}

.viewingTable tbody tr:last-of-type {
    border-bottom: 5px solid #C79874;
}



/*Responsive*/
@media(max-width: 315px) {
    .filter select, .filter #filterPicker {
        width: 90%;
        margin: 10px auto 10px;
    }
}